@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600&display=swap");

.footerContainer {
  width: 100%;
  min-width: 1200px;
  height: 150px;
  background-color: rgb(39, 39, 39);
  background-size: cover;
  z-index: -1;
}

.footerContentWrapper {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  font-family: "Exo 2", sans-serif;
  color: white;
}

.footerContentWrapper > h2 {
  font-weight: bold;
  font-size: 30px;
}

.footerContentWrapper > address {
  font-size: 13px;
}
