@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600&display=swap");

.header {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  box-sizing: border-box;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px; /* 로고 크기 적당히 조정 */
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav a {
  font-size: 19px;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
}

.menuItem {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.menuItem:hover {
  background-color: #f0f0f0;
}
