@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap");
.cardWrapper {
  width: 330px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Noto Sans KR", sans-serif;
}

.cardWrapper h2 {
  font-weight: bolder;
  font-size: 22 px;
}

.cardWrapper img {
  width: 50px;
  height: 50px;

  margin-right: 20px;
}

.cardWrapper > p {
  color: black;
  font-weight: 530;
}

.titleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
